html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#camera, #camera--view, #camera--sensor, #camera--output{
    position: fixed;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#camera--view, #camera--sensor, #camera--output{
    transform: scaleX(-1);
    filter: FlipH;
}

#camera--trigger{
    width: 160px;
    background-color: black;
    color: white;
    font-size: 16px;
    border-radius: 30px;
    border: none;
    padding: 15px 20px;
    text-align: center;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    position: fixed;
    bottom: 90px;
    right: 0;
}

#camera--switch{
    width: 160px;
    background-color: black;
    color: white;
    font-size: 16px;
    border-radius: 30px;
    border: none;
    padding: 15px 20px;
    text-align: center;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    position: fixed;
    bottom: 30px;
    right: 0;
}

#Tm{
    width: 120px;
    background-color: transparent;
    color: #00FF00;
    font-size: 16px;
    border-radius: 30px;
    border: none;
    padding: 5px 5px;
    text-align: center;
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0.0);
    position: fixed;
    bottom: 150px;
    left: 0px;
}
#IMU{
    width: 120px;
    background-color: transparent;
    color: #00FF00;
    font-size: 16px;
    border-radius: 30px;
    border: none;
    padding: 5px 5px;
    text-align: center;
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0.0);
    position: fixed;
    bottom: 70px;
    left: 0px;
}
#GPS{
    width: 120px;
    background-color: transparent;
    color: #00FF00;
    font-size: 16px;
    border-radius: 30px;
    border: center;
    padding: 5px 5px;
    text-align: center;
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0.0);
    position: fixed;
    bottom: 15px;
    left: 0px;
}
#Cent{
    width: 60px;
    background-color: transparent;
    color: #00FF00;
    font-size: 16px;
    border-radius: 30px;
    border-style: solid;
    border-width: 2px;
    padding: 0px 0px;
    text-align: center;
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0.0);
    position: fixed;
    bottom: 50%;
    left: 50%;
}
.taken{
    height: 100px!important;
    width: 100px!important;
    transition: all 0.5s ease-in;
    border: solid 3px white;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    top: 20px;
    right: 20px;
    z-index: 2;
}
